extends index.pug

block moreHead
      link(rel='stylesheet' href='htmldiff.css')
      script(src='htmldiff.js')

block content
        h1= message
        if (multiple_branches == "true")
            form(method='post' action='/changeCuratorBranch')
                input(type='hidden' name='pedido' value='changeCuratorBranch')
                input(type='hidden' name='email' value=email)
                select#branchSelection(name='branchSelection')
                    each branch in branches
                        option=branch
                button(input='' type='submit' value='selectedBranch') Check Branch
        if (multiple_branches == "false" && branches != "")
            form(method='post' action='/changeCuratorBranch')
                input(type='hidden' name='pedido' value='changeCuratorBranch')
                input(type='hidden' name='email' value=email)
                select#branchSelection(name='branchSelection')
                    option=branches
                button(input='' type='submit' value='selectedBranch') Check Branch
        else 
            p There are no contributions waiting to be evaluated
        form(method='post' action='/curatorAction')
          input(type='hidden' name='pedido' value='curatorAction')
          input(type='hidden' name='email' value=email)
          input(type='hidden' name='selectedBranch' value=branchName)
          table
            tr
              th Current Knowledge Base
              th Manual Editing
              th
                if (branchName == "")
                    branchName Please pick a contribution to evaluate
                else
                    branchName= branchName
            tr
              td#current_main
                mainBranch= mainBranch
              td
                p Mix the 2 branches manually here
                textarea(name='mixed')
              td#contribuition
                branchContent= branchContent
            tr
            tr
              td
                input#accept(type='radio' value='acceptContribution' name='action' required)
                label(for='accept') Accept
              td
                input#mix(type='radio' value='mixContribution' name='action')
                label(for='mix') Mix
              td
                input#reject(type='radio' value='rejectContribution' name='action')
                label(for='reject') Reject
            tr
              td
                p Message for the editor
                textarea(name='message' required)
              td
                if(branchName == "")
                    button(input='' type='submit' value='accept' disabled) Accept
                else
                    button(input='' type='submit' value='accept') Accept
              td Current Version:
                currversion= currversion
                p
                label(for=nextversion) Next Version:
                input#nextversion(type='text' name='nextversion' value=currversion)

        if(branchName != "")
            script(type='text/javascript').
                // Get the content and see the differences
                originalHTML = document.getElementById("current_main").innerHTML;
                newHTML = document.getElementById("contribuition").innerHTML;
                // Check the differences
                output = htmldiff(originalHTML, newHTML);
                // Show HTML diff output as HTML (crazy right?)!
                document.getElementById("contribuition").innerHTML = output;
           