extends viewer.pug
block evenMoreHead
    link(rel='stylesheet' href='editor.css')
block specificUserType
    // Tab links
    form(method='post' action='/changeClass')
        input(type='hidden' name='pedido' value='changeClass')
        input(type='hidden' name='oldName' value= oldName)
        h1= title
        table
            tr
                td 
                    input#changeName(type='checkbox' name='changeName')
                    label Change Name
                td
                    input(type='text' name='newName')
            if (parentClasses != "")
                tr
                    td
                        input#removeParent(type='checkbox' name='removeParent')
                        label Remove that it's subclass of
                    td
                        if (multiple_parent_classes == "true")
                            select#parentToRemove(name='parentToRemove')
                                each c in parentClasses
                                    option= c
                        if (multiple_parent_classes == "false")
                            select#parentToRemove(name='parentToRemove')
                                option= parentClasses
            if (otherClasses != "")
                tr
                    td
                        input#addParent(type='checkbox' name='addParent')
                        label Add that it's subclass of
                    td
                        if (multiple_other_classes == "true")
                            select#parentToAdd(name='parentToAdd')
                                each c in otherClasses
                                    option= c
                        else if (multiple_other_classes == "false")
                            select#parentToAdd(name='parentToAdd')
                                option= otherClasses
            

  
            if (hasComment == "true")
                tr
                    td 
                        input#changeComment(type='checkbox' name='changeComment')
                        label Change Comment
                    td
                        input(type='text' name='newComment' value=comment)
                tr
                    td
                        input#deleteComment(type='checkbox' name='deleteComment')
                        label Delete Comment
            else
                tr
                    td 
                        input#addComment(type='checkbox' name='addComment')
                        label Add Comment
                    td
                        input(type='text' name='newComment')
            tr
                td Your contact
                td
                        input(type='text' name='email' required)
            tr
                td Message
                td     
                    textarea(name='commitMessage' required)
        button(input='' type='submit' value='accept') Accept
                    